
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
      
    font-size: 1vw;
    line-height: 2vw;
    font-style: normal;
  }

/*Content wrapers*/
.headerwrap{
      width: 100%;
      height: 13vw;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(4, 1fr);
      text-align: right;
      font-weight: 800;
      color: #1C3964;
}

.topmenuwrap{
    grid-area: 2 / 2 / 3 / 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


.footerwrap {
    display: grid;
    height: 20vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color:#1C3964;
}

.homepagecontentwrap {
    width: 100%;
    height: 65vw;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    font-weight: 800;
    color:#1C3964;
}
.newswrap{
    width: 100%;
    height: 65vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(14, 1fr);
    font-weight: 800;
    text-align: right;
    color:white;
}

.sciencewrap {
    width: 100%;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color:#1C3964;
}

.conferenceswrap{
    width: 100%;
    height: 70vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color:#1C3964;
}

.internationalofficewrap {
    width: 100%;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color:#1C3964;
}

.entrywrap {
    width: 100%;
    height: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color:#1C3964;
}


.superheroeswrap {
    width: 100%;
    height: 70vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(19, 1fr);
    color:#1C3964;
}


.phdwrap {
    width: 100%;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color:#1C3964;
}


.magistracywrap {
    width: 100%;
    height: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color:#1C3964;
}
    
  
  
  
  /*Header css*/
  .navtop { 
      grid-area: 1 / 1 / 2 / 11;
  
   }
  .navlogo { 
      grid-area: 2 / 1 / 5 / 2; 
   }
  .navphone { grid-area: 1 / 1 / 2 / 2; }
  .navsearch{ grid-area: 1 / 2 / 2 / 3; }
  .navschedule { grid-area: 1 / 3 / 2 / 4 }
  .menuwrap{

    display: grid;
    text-align:center;
    vertical-align: middle;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .navmenu { 
    grid-area: 3 / 2 / 5 / 11;
 }

  

/*Footer css*/
  .contacts{
      color: #1C3964;
      width: 25vw;
      margin-left:5vw;
      margin-top:5vw; 
      font-weight: 600;
  }
  .links{
      margin-top: 5vw;
      font-weight: 600;
  }
  .kpi{
      margin-top:5vw;
      font-weight: 600;
      margin-right:5vw;
  }
  .credits{
      margin-left:4vw;
      padding-bottom: 1vw;
      grid-area:2/1/3/4;
  }
  .inline {
      display: inline-block;
      
  }

/*Homepage css*/
.cathedra { 
    grid-area: 1 / 1 / 3 / 7;
}
.ipze { 
    grid-area: 3 / 1 / 7 / 7;
 }

.tzte {
     grid-area: 1 / 7 / 7 / 10;
}


.ae { grid-area: 1 / 10 / 4 / 17; }
.tae { grid-area: 4 / 10 / 7 / 17; }

.aep { grid-area: 1 / 17 / 7 / 21; }

.news { grid-area: 7 / 1 / 14 / 4 ; }

.inews { 
    grid-area: 7 / 4 / 14 / 13;
    background-image: url('pics/prometheus.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align:right;
    color:white; 
 }
.lectures { 
    grid-area: 7 / 13 / 14 / 17;
    background-image: url('pics/auditorium.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align:right;
    color:white;
}
.stud { 
    grid-area: 7 / 17 / 14 / 21;
    background-image: url('pics/students.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align:right;
    color:white;
    font-weight: 800;
 }
.morenews { 
    grid-area: 13 / 17 / 14 / 21;
    text-align: center;
    padding: 1vw;
    background-color: white;
 }

/*Newspage css*/
.newshead { 
    grid-area: 1 / 1 / 3 / 2;
    color:#1C3964;
    text-align: left;
 }
.nlectures { 
    grid-area: 3 / 1 / 8 / 2;
    background-image: url("pics/auditorium.png");
    background-size: cover;
 }
.facultynews { 
    grid-area: 1 / 2 / 8 / 3;
    background-image: url("pics/students.png");
    background-size: cover;
 }
.library { 
    grid-area: 1 / 3 / 8 / 4;
    background-image: url("pics/library.png");
    background-size: cover;
 }
.events { 
    grid-area: 1 / 4 / 8 / 5;
    background-image: url("pics/student.png");
    background-size: cover;
 }
.learning { 
    grid-area: 8 / 1 / 15 / 2;
    background-image: url("pics/books.png");
    background-size: cover;
 }
.faculty { 
    grid-area: 8 / 2 / 15 / 3;
    background-image: url("pics/learning.png");
    background-size: cover;
 }
.studrad { 
    grid-area: 8 / 3 / 15 / 4;
    background-image: url("pics/students2.png");
    background-size: cover;
 }
.fridayevents { 
    grid-area: 8 / 4 / 15 / 5;
    background-image: url("pics/culture\ palace.png");
    background-size: cover;
 }

/*Science css*/
.sciencehead { 
    grid-area: 1 / 1 / 2 / 4;
}
.sciencefiles {
    grid-area: 2 / 1 / 4 / 4;
}
.sciencetext {
    grid-area: 1 / 4 / 4 / 8;
    display: grid;
    grid-template-columns: 3;
}

/*Scienceawards css*/
.scienceawardshead { 
    grid-area: 1 / 1 / 2 / 4;
}
.scienceawards {
    grid-area: 2 / 1 / 4 / 4;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.scienceawardstext {
    grid-area: 1 / 4 / 4 / 8;
}

.award{
    background-image: url("pics/award.png");
    background-size: cover;
}

/*Conferences css*/
    
.conferenceshead { grid-area: 1 / 1 / 2 / 3; }
.conferencesnews { 
    grid-area: 2 / 1 / 4 / 3;
    background-image: url("pics/auditorium.png");
    background-size: cover;
    color: white;  
    text-align: right;
 }
.article1{ grid-area: 1 / 3 / 2 / 8; }
.article2{ grid-area: 2 / 3 / 3 / 8; }
.article3{ grid-area: 3 / 3 / 4 / 8; }
.article4{ grid-area: 4 / 1 / 5 / 8; }
.article5{ grid-area: 5 / 1 / 6 / 8; }
.article6{ grid-area: 6 / 1 / 7 / 8; }

/*Internationaloffice css*/

.internationalofficehead { grid-area: 1 / 1 / 2 / 4; }
.internationalofficelinks{ 
    grid-area: 2 / 1 / 4 / 4;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
 }
.internationalofficevideo { grid-area: 1 / 4 / 4 / 8; }

/*Dropdown menu html*/
.dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    display: block;
    color: #1C3964;
    padding: 5px;
    text-decoration: none;
    background-color: white;
    border: 0.05vw solid #1C3964;
}

.dropdown-content a:hover {
    color: white;
    background-color: #1C3964;
}

/*Entry css*/
    
.entryhead { grid-area: 1 / 1 / 3 / 2; }
.entryformula { grid-area: 3 / 1 / 17 / 2; }

.specialty1 { 
    grid-area: 1 / 2 / 2 / 4;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    font-weight: 800;
 }

.specialtycode1{
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    background-color: #FFD600;
    text-align: center;
}
.specialtyname1{
    grid-area: 1 / 2 / 2 / 9;
    text-align: left;
}

.certificates1 { grid-area: 2 / 2 / 4 / 3; }
.marks1 { grid-area: 2 / 3 / 4 / 4; }
.coefficients1 { grid-area: 4 / 2 / 7 / 3; }
.years1 { grid-area: 4 / 3 / 7 / 4; }
.price1 { grid-area: 7 / 2 / 9 / 3; }
.jobexamples1 { grid-area: 7 / 3 / 9 / 4; }

.specialty2 { 
    grid-area: 9 / 2 / 10 / 4;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-weight: 800;
 }

.specialtycode2{
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    background-color: #FFD600;
    text-align: center;
}
.specialtyname2{
    grid-area: 1 / 2 / 2 / 9;
    text-align: left;
}
.certificates2 { grid-area: 10 / 2 / 12 / 3; }
.marks2 { grid-area: 10 / 3 / 12 / 4; }
.coefficients2 { grid-area: 12 / 2 / 15 / 3; }
.years2 { grid-area: 12 / 3 / 15 / 4; }
.price2 { grid-area: 15 / 2 / 17 / 3; }
.jobexamples2 { grid-area: 15 / 3 / 17 / 4; }
/*Superheroes css*/
    
.superheroeshead { grid-area: 1 / 1 / 4 / 3; }
.superheroesinfo { grid-area: 4 / 1 / 14 / 3; }
.superheroesmenu { 
    grid-area: 1 / 3 / 2 / 6;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align:right;
    font-weight: 680;
}
.menufaculty{
    grid-area: 1 / 1 / 2 / 4;
}
.menuspecialty{
    grid-area: 1 / 4 / 2 / 7; 
}
.menudormitory{
    grid-area: 1 / 7 / 2 / 8; 
}

.frame1 { 
    grid-area: 2 / 3 / 8 / 4;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
 }
.frame2 { 
    grid-area: 8 / 3 / 14 / 4; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame3 { 
    grid-area: 2 / 4 / 8 / 5; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame4 { 
    grid-area: 8 / 4 / 14 / 5; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame5 { 
    grid-area: 2 / 5 / 8 / 6; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame6 { 
    grid-area: 8 / 5 / 14 / 6;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
 }
.frame7 { 
    grid-area: 14 / 1 / 20 / 2; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame8 { 
    grid-area: 14 / 2 / 20 / 3; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame9 { 
    grid-area: 14 / 3 / 20 / 4; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame10 { 
    grid-area: 14 / 4 / 20 / 5; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.frame11 { 
    grid-area: 14 / 5 / 20 / 6; 
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.gridforphoto{
    grid-area: 1 / 1 / 4 / 2;
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: right;
    color:white;
}
.gridforabout{
    grid-area: 4 / 1 / 6 / 2;
}

.photo1{
    background-image: url('pics/1yulia.png'); 
}
.photo2{
    background-image: url('pics/1victoria.png'); 
}
.photo3{
    background-image: url('pics/1maksim.png'); 
}
.photo4{
    background-image: url('pics/1tanya.png'); 
}
.photo5{
    background-image: url('pics/1yegor.png'); 
}
.photo6{
    background-image: url('pics/1veronika.png'); 
}
.photo7{
    background-image: url('pics/2yulia.png'); 
}
.photo8{
    background-image: url('pics/1yaroslav.png'); 
}
.photo9{
    background-image: url('pics/3yulia.png'); 
}
.photo10{
    background-image: url('pics/1kolya.png'); 
}
.photo11{
    background-image: url('pics/1hlib.png'); 
}

/*Phd css*/
    
.phdhead { grid-area: 1 / 1 / 2 / 6; }
.phdfiles { grid-area: 2 / 1 / 5 / 6; }
.phdnews { 
    color:white;
    text-align:right;
    grid-area: 1 / 6 / 5 / 8;
    background-image: url('pics/auditorium.png');
    background-size: cover;
}

/*Magistracy css*/
    
.magistracyhead { grid-area: 1 / 1 / 2 / 3; }
.magistracyformula { grid-area: 2 / 1 / 5 / 3; }
.magistracyfiles { grid-area: 5 / 1 / 9 / 3; }
.magistracyinfo1 { grid-area: 1 / 3 / 3 / 6; }
.magistracycredits { 
    grid-area: 3 / 3 / 4 / 6;
    display:grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #FFD600;
    color:white;
 }
.magistracyinfo2 { grid-area: 4 / 3 / 5 / 6; }
.magistracyenglishexam { grid-area: 5 / 3 / 7 / 6; }
.magistracydocuments { grid-area: 7 / 3 / 9 / 6; }

/*Fonts and some other components css*/
.highfont{
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
    line-height: 1vw;
}
.uppercase{
    text-transform: uppercase;
}
.midfont{
    font-weight: 800;
    font-size:1.5vw;
}
.lowfont{
    font-weight: 500;
    line-height: 1vw;
    font-size: 1vw;
}
.border{
    border: 0.05vw solid #1C3964;
}
.fliped{
transform:  rotate(180deg);
}
.elementpadding{
    padding-right:1vw;
}

.scrolling{
    overflow: scroll;
}


p{
    margin-top: 1vw;
}


/*Disabled links highlight*/
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}



